.caret-color-blackDarken-1 {
  caret-color: var(--color-black-darken-1);
}
.text-grey {
  color: var(--color-grey);
}
.text-white {
  color: var(--color-white);
}
.color-greyDarken {
  color: var(--color-grey-darken-4);
}
.color-greyDarken-0 {
  color: var(--color-grey-darken-0);
}
.color-greyDarken-1 {
  color: var(--color-grey-darken-1);
}
.color-greyDarken-2 {
  color: var(--color-grey-darken-2);
}
.color-greyDarken-5 {
  color: var(--color-grey-darken-5);
}
.color-greyDarken-7 {
  color: var(--color-grey-darken-7);
}
.color-greyLight-1 {
  color: var(--color-grey-light-1);
}
.color-greyLight-4 {
  color: var(--color-grey-Light-4);
}
.color-greyLight-6 {
  color: var(--color-grey-Light-6);
}
.color-greyLight-9 {
  color: var(--color-grey-Light-9);
}

.color-blackDarken-1 {
  color: var(--color-black-darken-1);
}
.color-blackDarken-2 {
  color: var(--color-black-darken-2);
}
.color-grey {
  color: var(--color-grey);
}
.color-grey-c4 {
  color: var(--color-grey-darken-1);
}

.color-lightGold {
  color: var(--color-light-gold-1);
}
.color-lightGold-4 {
  color: var(--color-light-gold-4);
}
.color-gold {
  color: var(--color-gold);
}
.color-goldDarken {
  color: var(--color-gold-2);
}

.color-pink {
  color: var(--pink);
}
.color-white {
  color: var(--color-white);
}
.color-black {
  color: var(--color-black);
}
.color-blue {
  color: var(--color-blue);
}

.bg-color-inherit {
  background-color: inherit;
}

.bg-color-white {
  background-color: var(--color-white);
}

.bg-color-black {
  background-color: var(--color-black);
}

.bg-color-grey {
  background-color: var(--color-grey);
}

.bg-color-greyDarken {
  background-color: var(--color-grey-darken-0);
}
.bg-color-blackDarken-2 {
  background-color: var(--color-grey-darken-2);
}
.bg-color-greyDarken-3 {
  background-color: var(--color-grey-darken-3);
}
.bg-color-greyDarken-5 {
  background-color: var(--color-grey-darken-5);
}
.bg-color-greyDarken-7 {
  background-color: var(--color-grey-darken-7);
}

.bg-color-greyLight-1 {
  background-color: var(--color-grey-light-1);
}
.bg-color-greyLight-2 {
  background-color: var(--color-grey-light-2);
}
.bg-color-greyLight-4 {
  background-color: var(--color-grey-Light-4);
}
.bg-color-greyLight-9 {
  background-color: var(--color-grey-Light-9);
}

.bg-color-lightGold {
  background-color: var(--color-light-gold-1);
}
.bg-color-lightGold-4 {
  background-color: var(--color-light-gold-4)!important;
}

.bg-color-transparent {
  background-color: transparent !important;
}
.bg-color-pink {
  background-color: var(--pink)!important;
}
.bg-color-pink-light {
  background-color: var(--color-pink-light)!important;
}

.bg-color-blackDarken-1 {
  background-color: var(--color-black-darken-1);
}
.bg-inherit {
  background-color: inherit;
}

.bg-greyDarkenRGBA {
  background-color: var(--color-grey-darken-rgba);
}

.shadow-3 {
  box-shadow: var(--shadow-3);
}