.transition-grey-gold {
  color: var(--color-grey-darken-0);
  &:not(:disabled):hover, &:active, &.active {
    color: var(--color-light-gold-1);
  }
}
.transition-black-gold {
  color: var(--color-black-darken-1);
  transition: color 250ms ease-in-out;
  &:not(:disabled):hover, &:active, &.active {
    color: var(--color-light-gold-1);
  }
}
.transition-gold-black {
  color: var(--color-light-gold-1);
  transition: color 250ms ease-in-out;
  &:not(:disabled):hover, &:active, &.active {
    color: var(--color-black-darken-1);
  }
}
.transition-goldLight-gold {
  color: var(--color-light-gold-1);
  transition: color 250ms ease-in-out;
  &:not(:disabled):hover, &:active, &.active {
    color: var(--color-gold);
  }
}
.transition-goldLight-goldDarken {
  color: var(--color-light-gold-1);
  transition: color 250ms ease-in-out;
  &:not(:disabled):hover, &:active, &.active {
    color: var(--color-gold-2);
  }
}
.transition-grey-black {
  color: var(--color-grey-darken-0);
  &:hover, &:active {
    color: var(--color-black-darken-1);
  }
}
.detect-dragging {
  color: var(--color-grey-darken-0);
  .icon-container {
    color: var(--color-light-gold-1);
  }
  &.dragging {
    color: var(--color-light-gold-1);
    .icon-container {
      transform: scale(1.2);
      color: var(--color-grey-darken-0);
    }
  }
}

.gray-hover {
  transition: background-color 250ms ease-in;
  &:hover {
    background-color: var(--color-grey-light-2);
  }
}
