.separator-top {
  border-top: var(--separator-width) solid var(--separator-color);
}
.separator-bot {
  border-bottom: var(--separator-width) solid var(--separator-color);
}
.separator-right {
  border-right: var(--separator-width) solid var(--separator-color) !important;
}
.separator-left {
  border-left: var(--separator-width) solid var(--separator-color) !important;
}

.separator-bot-greyLight {
  border-bottom: 1px solid var(--color-grey-Light-4);
}
.separator-top-greyLight {
  border-top: 1px solid var(--color-grey-Light-4);
}
.separator-right-greyLight {
  border-right: 1px solid var(--color-grey-Light-4);
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}