@mixin iconClose($color, $size, $top, $right) {
  width: $size;
  height: $size;
  top: $top;
  right: $right;
  cursor: pointer;
  position: absolute;
  &:hover {
    &:before,
    &:after {
      background-color: $lightGold;
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}