.btn {
  border-radius: 2px;
  text-transform: uppercase;
  padding: 8px 14px;
  font-weight: 700;
  font-size: 12px;
  box-sizing: border-box;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  transition: color, background-color;
  transition-duration: 250ms;
  min-height: var(--height-button);
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  &.width-min {
    min-width: var(--button-width-min);
  }
  &.width-midi {
    min-width: 200px;
  }
  &.width-medium {
    min-width: var(--button-width-medium);
  }
  &.width-max {
    min-width: 240px;
  }
  &.grey-bg {
    background: var(--color-grey-darken-0);
    color: var(--color-white);
    &:not(:disabled):active, &:not(:disabled):focus {
      background: var(--color-grey);
    }
    &:not(:disabled):hover {
      box-shadow: var(--shadow-black);
    }
  }
  // показывается как задизебленная всегда, поэтому ховера нет
  &.light-grey {
    background: var(--color-grey-Light-4);
    color: var(--color-grey-darken-0);
    &:not(:disabled):active, &:not(:disabled):focus {
      background: var(--color-light-gold-1);
      color: var(--color-white);
    }

  }
  &.golden {
    background: var(--color-light-gold-1);
    color: var(--color-white);
    &:not(:disabled):active, &:not(:disabled):focus {
      background: var(--color-gold);
    }
    &:not(:disabled):hover {
      box-shadow: var(--shadow-golden);
    }
  }
  &.black-btn {
    background: var(--color-black-darken-1);
    color: var(--color-white);
    &:not(:disabled):active, &:not(:disabled):focus {
      background: var(--color-black);
    }
    &:not(:disabled):hover {
      box-shadow: var(--shadow-black);
    }
  }
  &.border-black {
    background: var(--color-white);
    border: 2px solid var(--color-black-darken-2);
    color: var(--color-black-darken-2);
    &:hover {
      background: var(--color-black-darken-2);
      color:  var(--color-white);
    }
  }
  &.border-gold {
    background: var(--color-white);
    border: 2px solid var(--color-gold);
    color: var(--color-gold);
    &:hover {
      background: var(--color-gold);
      color:  var(--color-white);
    }
  }
  &.min-button {
    width: 30px;
    height: 30px;
    padding: 0;
    &:active, &:focus {
      background-color: var(--color-gold);
    }
    &:not(.not-hover):hover {
      box-shadow: var(--shadow-golden);
    }
  }
  &.min {
    width: 40px;
    height: 30px;
    padding: 0;
    &:active, &:focus {
      background-color: var(--color-gold);
    }
    &:not(.not-hover):hover {
      box-shadow: var(--shadow-golden);
    }
  }
  &.btn-input {
    border-radius: 0px 2px 2px 0px;
  }
  &:disabled {
    cursor: not-allowed;
    background-color: var(--color-grey-Light-4)!important;
    color: var(--color-grey-darken-0)!important;
  }
  &.disabled-filters {
    border-color: var(--color-grey-darken-0)!important;
  }
  &.sign-up-btn {
    min-width: 140px;
    border: 1px solid transparent;
    border-radius: 5px;
  }
}

.save-btn {
  &.active {
    background: var(--color-light-gold-1);
    color: var(--color-white);
    pointer-events: auto;
  }
  &:not(:disabled):active, &:not(:disabled):focus {
    background: var(--color-grey-Light-4)!important;
    color: var(--color-grey-darken-0)!important;
  }
  &:not(:disabled):hover {
    box-shadow: var(--shadow-golden);
  }
}
