.page-bar {
  padding: var(--pagebar-padding-top) 20px;
  background-color: var(--color-grey-Light-4);
  width: 100%;
  min-height: var(--pageber-min-height);
  position: relative;
  &.second {
    border-top: 1px solid var(--color-white);
  }
}

.min-gold-button {
  height: 40px;
  width: 40px;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  .icon {
    color: var(--color-grey-darken-5);
  }
  &.active,
  &:active {
    background: var(--color-light-gold-1);
    .icon {
      color: var(--color-white);
    }
  }
  &.disabled {
    pointer-events: none;
    .icon {
      color: var(--color-grey-darken-0);
    }
  }
}
