@import "./mixins";
$white: #fff; // active icon menu
$black: #000;
$blackDarken-1: #333333; // color text
$blackDarken-2: #1d1d1d; // menu

$grey: #7a7a7a; // button hover, color text
$greyLight-1: #e5e5e5; // bg
$greyLight-2: #f2f2f2; // ключевые слова
$greyLight-3: #e0e0e0; // не активные пользователи
$greyLight-4: #f3f3f3; // bg
$greyLight-5: #dad8d8; // hover footer button
$greyLight-6: #c5c5c5; // date deadline
$greyLight-8: #cccccc; // border table
$greyLight-9: #EFE4C5; // bg not read message
$greyDarken-1: #c4c4c4; // usual icon menu
$greyDarken-2: #545454; // активный этап работы
$greyDarken-3: #e4e4e4; // не активный этап работы
$greyDarken-4: #ababab;
$greyDarken-5: #535353; // active button footer
$greyDarken-6: #686868; // filter
$greyDarken-7: #dddddd; // MPlan card in new brief
$greyDarken: #bdbdbd; // button usual, цвет шрифта не активных этапов работ, icon footer, date color, icon message

$greyDarkenRGBA: rgba(196, 196, 196, 0.2); // btn mediaplan, wiki, btn period
$gradientToolbarLeft: linear-gradient(89.43deg, #000000 0.12%, rgba(0, 0, 0, 0) 99.82%); // btn active toolbar left

$gold: #a18946; // button hover
$goldDarken: #A18945; // icon-pencil hover and active
$lightGold: #bfa764; // button usual
$lightGold-2: #d7cea5; // bg header table
$lightGold-3: #f1da99; // bg sub active items
$lightGold-4: #ddd9c6; // chat not read

$blue: #0052cc;
$lightBlue: #bcebff; // bg progress
$green: #96e1b9; // bg ok
$green-2: #5dcc7c; // password validator
$greenLight: #a1e2e6; // bg icon twitter
$pink: var(--pink); // message, social icon, marker
$pink-light: var(--color-pink-light);
$purple: #bea9e0; // bg icon viber
$blueDarken: #a7bbd8; // bg icon vk
$lightBlue: #b7d8fe; // bg icon facebook


$instagram: linear-gradient(180deg, #d699eb 0%, #f2c94c 100%); // bg icon instagram

$f-f: "Helvetica", sans-serif;
$f-f-700: "Helvetica", sans-serif;

$table-head: #e6e5e5;
$border-table: #807f80;

$boxShadow: 0px 1px 4px rgba(0, 0, 0, 0.25); // input for login, input for brif, стили списка тегов
$boxShadow-3: 0px 2px 6px rgba(0, 0, 0, 0.25); // menu for table mediaplan, active button tab
$boxShadow-4: 0px 0px 6px rgba(0, 0, 0, 0.25); // contextmenu triangle, title

$boxShadow-golden: 0px 4px 4px rgba(161, 137, 69, 0.49);
$boxShadow-black: 0px 4px 4px rgba(0, 0, 0, 0.25);
