.withApplyIcon {
  position: relative;
  &::after {
    background-image: url('./icons/applyed.svg');
    position: absolute;
    display: block;
    content: ' ';
    background-size: 10px;
    height: 10px;
    width: 10px;
    top: -2px;
    right: -2px;

  }
}